html {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Arial', sans-serif; 
  color: #333; 
  background-color: #f4f4f4; 
  max-width: 900px; 
  margin: 0 auto; 
  padding: 20px; 
}

/* Menu */
.menu {
  background-color: #ffffff; 
  padding: 20px;
  border-radius: 12px; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
}

.menu h1 {
  color: #000000; 
  text-align: center; 
  margin: 0 0 15px; 
}

/* Listes du menu */
.menu ul {
  list-style-type: none; 
  padding: 0; 
  text-align: center; 
}

.menu li {
  margin: 10px 0; 
}

.menu a {
  color: #000000; 
  text-decoration: none; 
  transition: color 0.3s ease, background-color 0.3s ease, transform 0.3s; 
  padding: 10px 15px; 
  border-radius: 5px; 
  display: inline-block; 
}

.menu a:hover {
  background-color: #000000; /* Fond noir au survol */
  color: #ffffff; 
  transform: scale(1.05); /* Effet au survol */
}

/* Titres principaux */
h1, h2, h3 {
  color: #000000; 
  text-align: center; 
  margin: 10px 0; 
}

/* Style pour les images */
img {
  max-width: 100%; 
  height: auto; 
  object-fit: cover; 
  border-radius: 8px; 
  border: 2px solid #000000; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
  display: block; 
  margin: 20px auto; 
}

/* Sections */
section {
  background-color: #ffffff; 
  padding: 20px; 
  border-radius: 8px; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
  margin: 20px 0; 
}

/* listes */
ul {
  list-style-type: none; 
  padding: 0; 
}

/* footer */
footer {
  text-align: center; 
  margin-top: 20px; 
  font-size: 0.9em; 
  color: #000000; 
}

/* Ajout d'une animation douce lors du chargement */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  animation: fadeIn 1s ease-in; /* Animation de fondu au chargement */
}

/* Style pour la section Contact */
.contact {
  background-color: #ffffff; 
  padding: 20px; 
  border-radius: 8px; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
  margin: 20px 0; 
}

/* Style pour les liens dans la section Contact */
.contact a {
  color: #000000; 
  text-decoration: underline; 
  transition: color 0.3s ease; 
}

.contact a:hover {
  color: #ffffff; 
  background-color: #000000; 
}

/* Ajout d'un style pour les liens de téléchargement */
a:link, a:visited {
  color: #000000; /
}

a:hover {
  color: #ffffff; 
  background-color: #000000; 
}

/* Recadrage et amélioration des images */
.quisuis-je,
.projets,
.monparcourspro {
  max-width: 150px; 
  height: auto; 
  object-fit: cover; 
  border-radius: 8px; 
  border: 2px solid #000000; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
  display: block; 
  margin: 20px auto; 
}
